@model Parking.Models.CheckIngCheckOut

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CheckIngCheckOut</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CheckIngCheckOutId" />
             <div class="form-group">
                <label asp-for="VehicleId" class="control-label"></label>
                <select asp-for="VehicleId" class ="form-control" asp-items="ViewBag.Vehicles"></select>
            </div>
             <div class="form-group">
                <label asp-for="TypeCheckId" class="control-label"></label>
                <select asp-for="TypeCheckId" class ="form-control" asp-items="ViewBag.TypeChecks"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateCreate" class="control-label"></label>
                <input asp-for="DateCreate" class="form-control" />
                <span asp-validation-for="DateCreate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
